<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @timeline.name %>
</p>

<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Timeline Posts', timeline_timeline_posts_path(@timeline) %> |
<%= link_to 'Back', timelines_path %>
